synapse/pipeline/pl_cosmictracker_medallion.json
{
	"name": "pl_cosmictracker_medallion",
	"properties": {
		"activities": [
			{
				"name": "Load Silver",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Delete Silver Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_cosmictracker_ondemand",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "IF OBJECT_ID('silver.neo_silver') IS NOT NULL\n    DROP EXTERNAL TABLE silver.neo_silver;\n\nCREATE EXTERNAL TABLE silver.neo_silver\nWITH (\n    LOCATION = 'silver/neo_silver/',\n    DATA_SOURCE = cosmictracker_storage,\n    FILE_FORMAT = parquet_format\n) AS\nWITH deduped AS (\n    SELECT\n        *,\n        ROW_NUMBER() OVER (\n            PARTITION BY neo_id, close_approach_date\n            ORDER BY _ingested_at DESC\n        ) AS rn\n    FROM bronze.neo_bronze\n    WHERE neo_id IS NOT NULL\n      AND close_approach_date IS NOT NULL\n)\nSELECT\n    neo_id,\n    neo_reference_id,\n    name,\n    absolute_magnitude_h,\n    estimated_diameter_min_km,\n    estimated_diameter_max_km,\n    ROUND((estimated_diameter_min_km + estimated_diameter_max_km) / 2.0, 4) AS estimated_diameter_avg_km,\n    is_potentially_hazardous,\n    is_sentry_object,\n    close_approach_date,\n    relative_velocity_kph,\n    miss_distance_km,\n    miss_distance_lunar,\n    miss_distance_au,\n    orbiting_body,\n    nasa_jpl_url,\n    CASE\n        WHEN miss_distance_lunar < 1  THEN 'Very Close'\n        WHEN miss_distance_lunar < 10 THEN 'Close'\n        WHEN miss_distance_lunar < 50 THEN 'Moderate'\n        ELSE 'Distant'\n    END AS proximity_category\nFROM deduped\nWHERE rn = 1;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Load Gold - Monthly Summary",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Delete Gold Monthly Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_cosmictracker_ondemand",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "IF OBJECT_ID('gold.monthly_neo_summary') IS NOT NULL\n    DROP EXTERNAL TABLE gold.monthly_neo_summary;\n\nCREATE EXTERNAL TABLE gold.monthly_neo_summary\nWITH (\n    LOCATION = 'gold/monthly_neo_summary/',\n    DATA_SOURCE = cosmictracker_storage,\n    FILE_FORMAT = parquet_format\n) AS\nSELECT\n    YEAR(close_approach_date)  AS approach_year,\n    MONTH(close_approach_date) AS approach_month,\n    COUNT(DISTINCT neo_id)     AS unique_asteroids,\n    COUNT(*)                   AS total_approaches,\n    SUM(CASE WHEN is_potentially_hazardous = 1 THEN 1 ELSE 0 END) AS hazardous_approaches,\n    AVG(estimated_diameter_avg_km)   AS avg_diameter_km,\n    MIN(miss_distance_lunar)         AS closest_approach_lunar_distance,\n    AVG(relative_velocity_kph)       AS avg_velocity_kph\nFROM silver.neo_silver\nGROUP BY YEAR(close_approach_date), MONTH(close_approach_date);"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Load Gold - Hazardous Asteroids",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Delete Gold Hazardous Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_cosmictracker_ondemand",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "IF OBJECT_ID('gold.hazardous_asteroids') IS NOT NULL\n    DROP EXTERNAL TABLE gold.hazardous_asteroids;\n\nCREATE EXTERNAL TABLE gold.hazardous_asteroids\nWITH (\n    LOCATION = 'gold/hazardous_asteroids/',\n    DATA_SOURCE = cosmictracker_storage,\n    FILE_FORMAT = parquet_format\n) AS\nSELECT\n    neo_id,\n    name,\n    close_approach_date,\n    estimated_diameter_avg_km,\n    miss_distance_lunar,\n    miss_distance_km,\n    relative_velocity_kph,\n    proximity_category,\n    orbiting_body\nFROM silver.neo_silver\nWHERE is_potentially_hazardous = 1\nORDER BY close_approach_date DESC;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Set Run Date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunDate",
					"value": {
						"value": "@formatDateTime(addDays(utcnow(), -1), 'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Run Date Compact",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set Run Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunDateCompact",
					"value": {
						"value": "@replace(variables('RunDate'), '-', '')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get NASA API Key",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Run Date Compact",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://kv-cosmictracker.vault.azure.net/secrets/NasaApiKey?api-version=7.4",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Pull Daily NEO Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get NASA API Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_nasa_feed",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_source_daily_json",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "neo_@{variables('RunDate')}.json",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Flatten and Append to Bronze",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Delete Stale Daily Folder",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_cosmictracker_ondemand",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "IF OBJECT_ID('bronze.stg_daily_@{variables('RunDateCompact')}') IS NOT NULL\n    DROP EXTERNAL TABLE bronze.stg_daily_@{variables('RunDateCompact')};\n\nCREATE EXTERNAL TABLE bronze.stg_daily_@{variables('RunDateCompact')}\nWITH (\n    LOCATION = 'bronze/neo_bronze/daily_@{variables('RunDateCompact')}/',\n    DATA_SOURCE = cosmictracker_storage,\n    FILE_FORMAT = parquet_format\n) AS\nSELECT\n    TRY_CAST(d.[key] AS DATE)                                   AS approach_window_date,\n    JSON_VALUE(neo.value, '$.id')                               AS neo_id,\n    JSON_VALUE(neo.value, '$.neo_reference_id')                 AS neo_reference_id,\n    JSON_VALUE(neo.value, '$.name')                             AS name,\n    TRY_CAST(JSON_VALUE(neo.value, '$.absolute_magnitude_h') AS FLOAT) AS absolute_magnitude_h,\n    TRY_CAST(JSON_VALUE(neo.value, '$.estimated_diameter.kilometers.estimated_diameter_min') AS FLOAT) AS estimated_diameter_min_km,\n    TRY_CAST(JSON_VALUE(neo.value, '$.estimated_diameter.kilometers.estimated_diameter_max') AS FLOAT) AS estimated_diameter_max_km,\n    TRY_CAST(JSON_VALUE(neo.value, '$.is_potentially_hazardous_asteroid') AS BIT) AS is_potentially_hazardous,\n    TRY_CAST(JSON_VALUE(neo.value, '$.is_sentry_object') AS BIT) AS is_sentry_object,\n    TRY_CAST(JSON_VALUE(ca.value, '$.close_approach_date') AS DATE)  AS close_approach_date,\n    JSON_VALUE(ca.value, '$.close_approach_date_full')          AS close_approach_date_full,\n    TRY_CAST(JSON_VALUE(ca.value, '$.relative_velocity.kilometers_per_hour') AS FLOAT)  AS relative_velocity_kph,\n    TRY_CAST(JSON_VALUE(ca.value, '$.relative_velocity.kilometers_per_second') AS FLOAT) AS relative_velocity_kps,\n    TRY_CAST(JSON_VALUE(ca.value, '$.miss_distance.kilometers') AS FLOAT)   AS miss_distance_km,\n    TRY_CAST(JSON_VALUE(ca.value, '$.miss_distance.lunar') AS FLOAT)        AS miss_distance_lunar,\n    TRY_CAST(JSON_VALUE(ca.value, '$.miss_distance.astronomical') AS FLOAT) AS miss_distance_au,\n    JSON_VALUE(ca.value, '$.orbiting_body')                     AS orbiting_body,\n    JSON_VALUE(neo.value, '$.nasa_jpl_url')                     AS nasa_jpl_url,\n    GETDATE()                                                   AS _ingested_at,\n    'neo_@{variables('RunDate')}.json'                          AS _source_file\nFROM (\n    SELECT jsonContent AS BulkColumn\n    FROM OPENROWSET(\n            BULK 'source/daily/neo_@{variables('RunDate')}.json',\n            DATA_SOURCE = 'cosmictracker_storage',\n            FORMAT = 'CSV',\n            FIELDTERMINATOR = '0x0b',\n            FIELDQUOTE = '0x0b'\n         ) WITH (jsonContent VARCHAR(MAX)) AS doc\n) AS doc\nCROSS APPLY OPENJSON(doc.BulkColumn, '$.near_earth_objects') AS d\nCROSS APPLY OPENJSON(d.value) AS neo\nCROSS APPLY OPENJSON(neo.value, '$.close_approach_data') AS ca\nWHERE ca.[key] = '0';\n\nDROP EXTERNAL TABLE bronze.stg_daily_@{variables('RunDateCompact')};",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Delete Stale Daily Folder",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Pull Daily NEO Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "bronze/neo_bronze/daily_@{replace(variables('RunDate'), '-', '')}",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": {
							"value": "*",
							"type": "Expression"
						},
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete Silver Folder",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Flatten and Append to Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "silver/neo_silver",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete Gold Monthly Folder",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Load Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "gold/monthly_neo_summary",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Delete Gold Hazardous Folder",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Load Silver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary",
						"type": "DatasetReference",
						"parameters": {
							"folderPath": {
								"value": "gold/hazardous_asteroids",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			}
		],
		"variables": {
			"RunDate": {
				"type": "String"
			},
			"RunDateCompact": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-23T06:12:26Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}